
<head>
    <title>Slide Navbar</title>
</head>

<body>
    <div class="image">
        <div class="main">
            <input type="checkbox" id="chk" aria-hidden="true">

            <div class="signup">
                <form>
                    <label for="chk" aria-hidden="true">Sign up</label>
                    <input type="text" name="firstname" placeholder="First name" required="" #firstname>
                    <input type="text" name="lastname" placeholder="Last name" required="" #lastname>
                    <input type="email" name="email" placeholder="Email" required="" #emailSignUp>
                    <input type="password" name="password" placeholder="Password" required="" #passwordSignUp>
                    <button (click)="signUp(firstname.value,lastname.value, emailSignUp.value, passwordSignUp.value)" routerLink="/emails">Sign up</button>
                </form>
            </div>

            <div class="login">
                <form>
                    <label for="chk" aria-hidden="true">Login</label>
                    <input type="email" name="email" placeholder="Email" required="" #emailLogin>
                    <input type="password" name="pswd" placeholder="Password" required="" #passwordLogin>
                  <button (click)="signIn(emailLogin.value, passwordLogin.value)" (waiting)="valid==true" routerLink="/emails">Login</button>


                </form>
            </div>
        </div>
    </div>
</body>
