<head>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>

<body>
    <div class="image">
        <!-- header starts -->
        <div class="header">

            <div class="header-left">
                <!-- <span class = "material-symbols-outlined">menu</span> -->
                <img src="https://cdn-icons-png.flaticon.com/512/3062/3062634.png">
            </div>

            <div class="header-right">
                <span class="material-symbols-outlined">notifications</span>
                <div class="profile">
                    <button class="material-symbols-outlined" (click)="showWindow('profile-content')">account_circle</button>
                    <div id="profile-content" style="display: none; position:absolute;">
                        <img id="img" src="https://cdn-icons-png.flaticon.com/512/3177/3177440.png" style="width:50px; height:50px; position:relative; left: 100px; top:20px">
                        <label for="img" style=" position:relative; top: 20px; left: 95px; color:whitesmoke"><br>{{ getUserName() }}</label>
                        <label for="img" style=" position:relative; top: 40px; right: 20px; color:whitesmoke">{{ getUserEmail() }}</label>
                        <button id="logout" routerLink="/">Sign Out</button>
                        <span class="material-symbols-outlined" style=" position:relative; top: 58px; left: 150px;" routerLink="/">logout</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- header ends -->

        <!-- main body start -->
        <div class="main_body">
            <!-- side bar section start  -->
            <div class="sidebar">
                <button class="sidebar_compose" routerLink="/compose">
                <span class="material-symbols-outlined" >add</span>
                Compose
              </button>

                <div class="sidebaroption sidebaroption_active" routerLink='/emails' *ngFor="let folder of shownFolders" (click)="foldersNavigate(folder.getName())">
                    <span class="material-symbols-outlined">{{ folder.getIcon() }}</span>
                    <h3> {{ folder.getName() }} </h3>
                    <div class="default-prioprity">
                        <ng-template [ngIf]="folder.getName()=='inbox'">
                            <span class="material-symbols-outlined" (click)="showWindow('inbox')">arrow_drop_down</span>
                            <div id="inbox" style="display:none; position:absolute;">
                                <b>default</b>
                                <b style="top:45px">priority</b>
                            </div>
                        </ng-template>
                    </div>
                </div>

                <button class="sidebar_addfolder" (click)="showWindow('NewFolder')">
                <span class="material-symbols-outlined">create_new_folder</span>
                add new folder
              </button>
                <div class="addNewFolder" id="NewFolder" style="display: none;">
                    <input class="inputfolder" type="text" name="txt" id="FolderName" placeholder="Folder name" required="">
                    <button (click)="addfolder()" class="showfolder">Add</button>
                    <span (click)="addfolder()" class="material-symbols-outlined" style=" position:relative; bottom: 70px; left: 105px;">add_circle</span>
                </div>
            </div>
            <!-- side bar section ends  -->

            <!-- email body starts -->
            <div class="emailList">
                <div class="emailList_settings">
                    <div class="emailList_settingsLeft">
                        <input type="checkbox" class="material-symbols-outlined">
                        <select class="List" name="List">//filter
                          <option value="1">Filter</option>
                          <option value="2">Subject</option>
                          <option value="3">Sender</option>
                        </select>
                        <select class="List" name="List">//filter//sort
                          <option value="1">sort</option>
                          <option value="2" (click)="sort('subject')" >Subject</option>
                          <option value="3" (click)="sort('sender')" >Sender</option>
                        </select>
                        <span class="material-symbols-outlined">Refresh</span>
                    </div>
                    <!-- sections start -->
                    <div class="emailList_sections">
                        <span class="material-symbols-outlined"> search </span>
                        <input type="text" placeholder={{search}}/>
                        <div class="dropdown">
                            <span class="material-symbols-outlined">arrow_drop_down</span>
                            <div class="dropdown-content">
                                <a (click)="changeSearchLabel('Search All Mail')" value="All">All</a>
                                <a (click)="changeSearchLabel('Search Subject Mail')" value="Subject">Subject</a>
                                <a (click)="changeSearchLabel('Search Sender Mail')" value="Sender">Sender</a>
                            </div>
                        </div>
                    </div>

                    <div class="emailList_settingsRight">
                        <span class="material-symbols-outlined">chevron_left</span>
                        <span class="material-symbols-outlined">chevron_right</span>
                    </div>
                </div>
                <!-- sections end -->
            </div>
            <!-- email body ends -->
        </div>
        <!-- main body ends -->
    </div>
</body>

<div class="mails">
    <button class="email" *ngFor="let email of shownEmails; let i = index" (click)="setOpenedEmail(i)" routerLink="/mail-box">
  <span class = "material-symbols-outlined" >mail</span>
</button>
</div>

<!-- <div class="mails"> -->
<!-- <button class="email" (click)="setOpenedEmail(0)" routerLink="/mail-box"> -->
<!-- <span class = "material-symbols-outlined" >mail</span> -->
<!-- </button> -->
<!-- </div> -->