.mails{
    position: absolute;
    border: 2px solid  rgb(140, 137, 232);
    flex: 1;
    overflow: scroll;
    border-radius: 10px;
    width: 1300px;
    height: 540px;
    left: 220px;
    top :145px;
    box-shadow: 0 8px 10px -7px rgb(226, 226, 251);
    background: #ffffff;
}
.btn{
    border-radius: 5px;
    float: left;
    width: 50%;
	height: 40px;
    display: block;
    border: 2px solid  rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    background: rgb(140, 137, 232);
	cursor: pointer;
}
h1{
    font-size: 17px;
}
.email{
    border-radius: 5px;
    float: left;
    width: 100%;
	height: 70px;
    display: block;
    border: 2px solid  rgb(140, 137, 232);
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
	cursor: pointer;
}
.email .material-symbols-outlined{
    float: left;
    color: rgb(140, 137, 232);
    cursor: pointer;
}
.email:hover{
    background: rgb(207, 207, 216);
}