<app-email></app-email>

<form class="mails">
    <!-- <img id="img" src="https://cdn-icons-png.flaticon.com/512/3177/3177440.png" style="width:60px; height:60px; position:relative; left: 610px; top:20px;"> -->
    <div class="From">
        <h2>{{getOpenedEmail().getFrom()}}</h2>
    </div>
    <div class="Email">
        <h3>{{getOpenedEmail().getTime()}}</h3>
    </div>
    <div class="Date">
        <h4> Date: {{getOpenedEmail().getDate()}}</h4>
    </div>
    <div class="To">
        <h5> To: {{getOpenedEmail().getTo()}} </h5>
    </div>
    <div class="priority">
        <h6>{{getOpenedEmail().getPriority()}}</h6>
    </div>
    <div class="Subject">
        <h1>{{getOpenedEmail().getSubject()}}</h1>
    </div>
    <div class="Body">
        <h6>{{getOpenedEmail().getBody()}}</h6>
    </div>
    <div class="files">
        <ul style="position: absolute;">
            <li *ngFor="let att of getOpenedEmail().getAttachments();let i = index;" (click)="run(att)">{{att}}</li>
        </ul>
    </div>
</form>