<app-email></app-email>

<form class="mails">
    <div class="From">
        <h2>{{getOpenedEmail().getFrom()}}</h2>
    </div>
    <div class="Email">
        <h3>{{getOpenedEmail().getTime()}}</h3>
    </div>
    <div class="Date">
        <h4> Date: {{getOpenedEmail().getDate()}}</h4>
    </div>
    <div class="To">
        <h5> To: {{getOpenedEmail().getTo()}} </h5>
    </div>
    <div class="priority">
        <h6>{{getOpenedEmail().getPriority()}}</h6>
    </div>
    <div class="Subject">
        <h1>{{getOpenedEmail().getSubject()}}</h1>
    </div>
    <div class="Body">
        <h6>{{getOpenedEmail().getBody()}}</h6>
    </div>
    <div class="files">
        <ul style="position: absolute;">
            <li *ngFor="let att of getOpenedEmail().getAttachments();let i = index;" (click)="run(att)">{{att}}</li>
        </ul>
    </div>
</form>