.mails {
    position: absolute;
    border: 2px solid white;
    flex: 1;
    overflow: scroll;
    border-radius: 10px;
    width: 1300px;
    height: 540px;
    left: 220px;
    top: 145px;
    box-shadow: 0 8px 10px -7px rgb(226, 226, 251);
    background-image: linear-gradient(to bottom, rgba(233, 220, 245, 0.85), rgba(129, 167, 239, 0.85));
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    position: relative;
    font-size: 30px;
    text-align: center;
    bottom: 30px;
    color: rgb(0, 0, 0);
    border-top: 1px solid rgb(140, 137, 232);
}

h2 {
    position: relative;
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    top: 10px;
}

h3 {
    font-size: 15px;
    text-align: center;
    color: rgb(0, 0, 0);
}

h4 {
    position: relative;
    font-size: 15px;
    text-align: center;
    color: grey;
    bottom: 10px;
}

h5 {
    position: relative;
    font-size: 15px;
    text-align: center;
    bottom: 30px;
    color: grey;
}

h6 {
    position: relative;
    font-size: 20px;
    bottom: 60px;
    color: rgb(0, 0, 0);
    left: 20px;
}

.div {
    color: red;
    background-color: red;
    border-bottom: rgb(219, 51, 51);
    position: relative;
    z-index: 1;
}