.compose-email {
    position: absolute;
    border: 2px solid rgb(140, 137, 232);
    flex: 1;
    border-radius: 10px;
    width: 1300px;
    height: 540px;
    left: 220px;
    top: 145px;
    box-shadow: 0 8px 10px -7px rgb(226, 226, 251);
    background-image: linear-gradient(to bottom, rgba(205, 172, 231, 0.85), rgba(129, 167, 239, 0.85)), url("https://wallpapercave.com/wp/KSnFrMw.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

input {
    /* width: 1245px; */
    width: 1000px;
    height: 20px;
    background: #e7d3ee;
    display: flex;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 5px;
    position: relative;
    left: 50px;
}

label {
    position: relative;
    bottom: 30px;
    font-size: 16px;
}

button {
    position: relative;
    height: 40px;
    width: 100px;
    display: block;
    font-size: 18px;
    border: 2px solid rgb(144, 143, 158);
    background-image: linear-gradient(to bottom, rgba(205, 172, 231, 0.85), rgba(32, 21, 90, 0.85)), url("https://wallpapercave.com/wp/KSnFrMw.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    color: rgb(246, 246, 246);
    text-decoration: none;
    padding: 6px;
    z-index: 1;
    cursor: pointer;
    text-align: left;
    left: 1183px;
    top: 375px;
}

.file {
    background-image: linear-gradient(to bottom, rgba(205, 172, 231, 0.85), rgba(32, 21, 90, 0.85)), url("https://wallpapercave.com/wp/KSnFrMw.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    height: 20px;
    width: 20px;
    display: block;
    font-size: 18px;
    border: 2px solid rgb(168, 164, 233);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
    z-index: 1;
    cursor: pointer;
    border: none;
    outline: none;
    position: relative;
    left: 5px;
    top: 335px;
}

textarea {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(231, 211, 238)), url("https://wallpapercave.com/wp/KSnFrMw.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    resize: none;
}

select {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(231, 211, 238)), url("https://wallpapercave.com/wp/KSnFrMw.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    width: 120px;
    height: 30px;
    position: relative;
    top: 15px;
    left: 2px;
}

#back {
    background-image: linear-gradient(to bottom, rgb(243, 244, 250), rgb(231, 211, 238)), url("https://wallpapercave.com/wp/KSnFrMw.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    border-radius: 10px;
    width: 20px;
    height: 35px;
    left: 0px;
    top: 10px;
    padding: 2px;
    color: #000000;
}

#mto {
    border: 2px solid rgb(144, 143, 158);
    background-image: linear-gradient(to bottom, rgba(205, 172, 231, 0.85), rgba(32, 21, 90, 0.85)), url("https://wallpapercave.com/wp/KSnFrMw.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    color: rgb(246, 246, 246);
    cursor: pointer;
    position: absolute;
    top: 8px;
    width: 20px;
    height: 30px;
    padding: 4px;
    left: 1036px;
    display: flex;
    justify-content: center;
}
#mto{
  border: 2px solid rgb(144, 143, 158);
  background-image: linear-gradient(to bottom, rgba(205, 172, 231, 0.85), rgba(32, 21, 90, 0.85)), url("https://wallpapercave.com/wp/KSnFrMw.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  color: rgb(246, 246, 246);
  cursor: pointer;
  position:absolute;
  top:8px;
  width: 20px;
  height: 30px;
  padding: 4px;
  left: 1036px;
  display: flex;
  justify-content: center;
}
