* {
    margin: 0;
    padding: 0;
}
.image {
    background-image: url("https://th.bing.com/th/id/R.2da39bed03e8f88b92cc8b72efa35f0d?rik=IcfhdAI6nhgKbg&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fKSnFrMw.jpg&ehk=a66%2bAJIH%2fArCFjpy%2buk%2bd5akJQX28GJ%2bq36n6bY2DG0%3d&risl=&pid=ImgRaw&r=0");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.header-left img{
    object-fit: contain;
    height: 60px;
    width: 60;
    margin-left: 5px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-left{
    display: flex;
    align-items: center;
}
.header-left span{
    padding: 10px;
    cursor: pointer;
}
.material-symbols-outlined{
    color: rgb(140, 137, 232);
}
.header-right{
    display: flex;
    padding-right: 20px;
}
.header-right span{
    padding: 10px;
    cursor: pointer;
}
.sidebar{
    flex: 0.11;
    max-width: 300px;
    padding-right: 20px;
    }

.sidebar_compose{
        margin-top: 15px;
        margin-left: 10px;
        margin-bottom: 15px;
        text-transform: capitalize;
        color: grey;
        padding: 15px;
        border-radius: 30px;
        background-color: white;
        display: flex;
        align-items: center;
        outline: none;
        border: none;
        box-shadow: 0px 2px 5px -2px rgb(140, 137, 232);
        cursor: pointer;
        font-size: 17px;
}
.sidebar_compose span{
    margin-right: 5px;
}
.sidebaroption{
    display: flex;
    align-items: center;
    height: 40px;
    width: 170px;
    padding: 0 10px;
    border-top-right-radius: 20px ;
    border-bottom-right-radius: 20px ;
    cursor: pointer;
    color: rgb(251, 251, 251);
}
.sidebaroption .material-symbols-outlined{
    padding: 5px;
}
.sidebaroption h3{
    flex: 1;
    margin-left: 10px;
    font-size: 17px;
    font-weight: 400;
}

.sidebaroption:hover,
.sidebaroption:hover h3,
.sidebaroption:hover .material-symbols-outlined,
.sidebaroption_active:hover,
.sidebaroption_active h3:hover,
.sidebar_compose:hover,
.sidebaroption_active:hover .material-symbols-outlined{
    background-color: rgb(173, 173, 247);
    font-weight: 500;
}
.main_body{
    
display: flex;
height: 89vh;
}
.body{
    
    height: 100vh;
    overflow: hidden;
}
.emailList{
    flex: 1;
}
.emailList_settings{
    border-top-right-radius: 50px ;
    border-bottom-right-radius: 50px ;
    border-top-left-radius: 50px ;
    border-bottom-left-radius: 50px ;
    position: sticky;
    top: 0;
    display: flex;
    justify-content:space-between;
    background-color: rgb(251, 251, 251);
    height: 50px;
    z-index: 999;
    padding: 8px;
    border: 2px solid  rgb(140, 137, 232);
}
.emailList_settingsLeft{
    display: flex;
    align-items: center;
}
.emailList_settings .material-symbols-outlined{
    margin: 5px;
    cursor: pointer;
}
.emailList_settingsLeft .List{
    color: grey;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    box-shadow: 0px 2px 5px -2px rgb(140, 137, 232);
    border: 2px solid  rgb(140, 137, 232);
    cursor: pointer;
    font-size: 15px;
}
.section {
    display: flex;
    align-items: center;
    border-bottom-width: 2px;
    padding: 15px;
    min-width: 800px;
    cursor: pointer;
    color: grey;
    border-width: 0; 
}
.section h4{
    font-size: 17px;
}
.mails{
    position: absolute;
    border: 2px solid  rgb(140, 137, 232);
    flex: 1;
    overflow: scroll;
    border-radius: 10px;
    width: 1300px;
    height: 540px;
    left: 220px;
    top :145px;
    box-shadow: 0 8px 10px -7px rgb(226, 226, 251);
    background: #ffffff;
    
}