<head>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>
<body>
    <!-- header starts -->
    <div class = "header">
        <div class = "header-left">
            <span class = "material-symbols-outlined">menu</span>
            <img src="https://cdn-icons-png.flaticon.com/512/3062/3062634.png" width="60">
        </div>
        <div class = "header-middle">
            
        </div>
        <div class = "header-right">
            <span class = "material-symbols-outlined">apps</span>
            <span class = "material-symbols-outlined">notifications</span>
            <span class = "material-symbols-outlined">account_circle</span>
        </div>
      </div>
      <!-- header ends -->
<!-- main body start -->
<div class="main_body">
<!-- side bar section start  -->
<div class="sidebar">
    <button class="sidebar_compose">
        <span class="material-symbols-outlined">add</span>
       COMPOSE
    </button>
    <div class="sidebaroption sidebaroption_active">
        <span class="material-symbols-outlined">inbox</span>
        <h3>INBOX</h3>
    </div>
    <div class="sidebaroption sidebaroption_active">
        <span class="material-symbols-outlined">send</span>
        <h3>SEND</h3>
    </div>
    <div class="sidebaroption sidebaroption_active">
        <span class="material-symbols-outlined">draft</span>
        <h3>DRAFT</h3>
    </div>

</div>
<!-- side bar section ends  -->

<!-- email body starts -->
<div class="emailList">
    <div class="emailList_settings">
        <div class="emailList_settingsLeft">
                <input type="checkbox" class="material-symbols-outlined">
                <select class="List" name="List">
                    <option value="IMP">FILTER</option>
                    <option value="IMP">subject</option>
                    <option value="IMP">sender</option>
                </select>
                <span class="material-symbols-outlined">refresh</span>
        </div>
        <div class="emailList_settingsRight">
            <span class="material-symbols-outlined">chevron_left</span>
            <span class="material-symbols-outlined">chevron_right</span>
        </div>
    </div>
</div>

<!-- email body ends -->


</div>
<!-- main body ends -->
</body>
