* {
    margin: 0;
    padding: 0;
}
.header-left img{
    object-fit: contain;
    height: 80px;
    margin-left: 5px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
}
.header-left{
    display: flex;
    align-items: center;
}
.header-left span{
    padding: 10px;
    cursor: pointer;
}
.material-symbols-outlined{
    color: rgb(140, 137, 232);
}
.header-right{
    display: flex;
    padding-right: 20px;
}
.header-right span{
    padding: 10px;
    cursor: pointer;
}



.sidebar{
    flex: 0.3;
    max-width: 300px;
    padding-right: 20px;
    }
.sidebar_compose{
        margin-top: 15px;
        margin-left: 10px;
        margin-bottom: 15px;
        text-transform: capitalize;
        color: grey;
        padding: 15px;
        border-radius: 30px;
        background-color: white;
        display: flex;
        align-items: center;
        outline: none;
        border: none;
        box-shadow: 0px 2px 5px -2px rgb(0,0,0,0.75);
        cursor: pointer;
}
.sidebar_compose span{
    margin-right: 5px;
}
.sidebaroption{
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    border-top-right-radius: 20px ;
    border-bottom-right-radius: 20px ;
    cursor: pointer;
    color: rgb(47, 50, 50);
}
.sidebaroption .material-symbols-outlined{
    padding: 5px;
}
.sidebaroption h3{
    flex: 1;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
}

.sidebaroption:hover,
.sidebaroption:hover h3,
.sidebaroption:hover .material-symbols-outlined,
.sidebaroption_active:hover,
.sidebaroption_active h3:hover,
.sidebar_compose:hover,
.sidebaroption_active:hover .material-symbols-outlined{
    background-color: rgb(226, 226, 251);
    font-weight: 500;
}
.main_body{
display: flex;
height: 100vh;
}
.body{
    height: 100vh;
    overflow: hidden;
}
.emailList{
    flex: 1;
    overflow: scroll;
}
.emailList_settings{
    position: sticky;
    top: 0;
    display: flex;
    justify-content:space-between;
    border-bottom:1px solid whitesmoke ;
    background-color: white;
    z-index: 999;
    padding: 8px;
}
.emailList_settingsLeft{
    display: flex;
    align-items: center;
}
.emailList_settings .material-symbols-outlined{
margin: 5px;
cursor: pointer;
}
.emailList_settingsLeft .List{
    color: grey;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    box-shadow: 0px 2px 5px -2px rgb(0,0,0,0.75);
    cursor: pointer;
}
