@import "../css/mail-box.css";
.btn{
    border-radius: 5px;
    float: left;
    width: 50%;
	height: 40px;
    display: block;
    border: 2px solid  rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    background: rgb(140, 137, 232);
	cursor: pointer;
}
h1{
    font-size: 17px;
}