
<head>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>
<body>
   
    <!-- header starts -->
    <div class= "image">
    <div class = "header">
        
        <div class = "header-left">
            <!-- <span class = "material-symbols-outlined">menu</span> -->
            <img src="https://cdn-icons-png.flaticon.com/512/3062/3062634.png" >
        </div>
        <div class = "header-middle">
            
        </div>
        <div class = "header-right">
            <span class = "material-symbols-outlined">apps</span>
            <span class = "material-symbols-outlined">notifications</span>
            <span class = "material-symbols-outlined">account_circle</span>
        </div>
      </div>
      <!-- header ends -->

    <!-- main body start -->
    <div class="main_body">
        <!-- side bar section start  -->
        <div class="sidebar">
            <button class="sidebar_compose">
                <span class="material-symbols-outlined" routerLink="/start">add</span>
                Compose
            </button>
            <div class="sidebaroption sidebaroption_active" routerLink='/inbox'>
                <span  class="material-symbols-outlined">inbox</span>
                <h3>Inbox</h3>
            </div>
            <div class="sidebaroption sidebaroption_active" routerLink='/sent'>
                <span  class="material-symbols-outlined">send</span>
                <h3>Sent</h3>
            </div>
            <div class="sidebaroption sidebaroption_active">
                <span class="material-symbols-outlined">draft</span>
                <h3>Draft</h3>
            </div>
            <button class="sidebar_addfolder">
                <span class="material-symbols-outlined">add</span>
                add new folder
            </button>
        </div>
        <!-- side bar section ends  -->

        <!-- email body starts -->
        <div class="emailList">
            <div class="emailList_settings">
                <div class="emailList_settingsLeft">
                        <input type="checkbox" class="material-symbols-outlined">
                        <select class="List" name="List">//search >>>>> need search bar 
                            <option value="1">All</option>
                            <option value="2">Subject</option>
                            <option value="3">Sender</option>
                        </select>
                        <select class="List" name="List">//filter
                            <option value="1">Filter</option>
                            <option value="2">Subject</option>
                            <option value="3">Sender</option>
                        </select>
                        <select class="List" name="List">//filter//sort
                            <option value="1">sort</option>
                            <option value="2">Subject</option>
                            <option value="3">Sender</option>
                        </select>
                        <span class="material-symbols-outlined">Refresh</span>
                </div>

                <div class="emailList_sections">
                    <div class="section">
                        <span class="material-symbols-outlined" style=" margin-left: 290px;">Mail</span>
                        <h4>Mails</h4>
                    </div>
                </div>
                
                <div class="emailList_settingsRight">
                    <span class="material-symbols-outlined">chevron_left</span>
                    <span class="material-symbols-outlined">chevron_right</span>
                </div>
               
            </div>
            <!-- sections start -->
            <!-- sections end -->
        </div>
       
        <!-- email body ends -->
    </div>
    
<!-- main body ends -->
</div>
</body>